.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}html {
    position: relative;
    min-height: 100%;
}

/*
Footer
*/
@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
#footer{
	max-height: 20px; 
	font-size: 9px;
}
}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
#footer{
	max-height: 20px; 
	font-size: 9px;
}
}

/*
Description
*/
section {
font-family:Trebuchet MS;
padding: 10% 0; 
}
section h1.section-heading {
    font-size: 80px;
    margin-top: 0;
    margin-bottom: 15px; }

section h2.section-heading {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 15px; }

@media (min-width: 768px) {
  section {
    padding: 100px 0; } }

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
section h1.section-heading {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
}

section h2.section-subheading {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 15px; 
}
}

/*
Navigation Bar
*/
.navbar-header form {
    position: absolute;
    right: 20px;
    max-width: 250px;
    border-radius: 0px 0px 10px 10px;
    max-height: 5px; 
}

button.navbar-toggle.pull-left {
    margin-left: 15px;
}
@media only screen and (max-width:768px){
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: rgba(0,0,0,0);
        margin-top: 0;
        padding-top: 8px;
    }
    .navbar-form {
        padding: 10px 15px;
        margin-top: 8px;
        margin-right: -15px;
        margin-bottom: 8px;
        margin-left: -15px;
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
        box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 0px 0 rgba(255,255,255,.1);
    }
}

#logoutButton{
  margin-top: 5px;
  font-size: 15px;
}

/*
Header
*/
header{
  text-align: center;
  color: white;
  background-image: url("./imgs/dark-triangles.png");
 }

@media (min-width: 750px) and (max-height: 900px) { /*Laptop Size*/
  header.masthead .intro-text {
    padding-top: 25%;
    padding-bottom: 30%; }
    header.masthead .intro-text .intro-heading {
      font-size: 80px;
      font-weight: 700;
      margin-bottom: 50px;} 
    #tellB{
     width: 30%;
    }
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
  header.masthead .intro-text {
    padding-top: 65%;
    padding-bottom: 55%; }
    header.masthead .intro-text .intro-heading {
      font-size: 80px;
      font-weight: 700;
      margin-bottom: 50px;} 
    #tellB{
     width:30%;
    }
}

@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/
  header.masthead .intro-text {
    padding-top: 35%;
    padding-bottom: 40%; }
    header.masthead .intro-text .intro-heading {
      font-size: 100px;
      font-weight: 700;
      margin-bottom: 50px;} 
    #tellB{
     font-size: 150%;
     width:30%;
    }
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
  header.masthead .intro-text {
    padding-top: 75%;
    padding-bottom: 55%; }
    header.masthead .intro-text .intro-heading {
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 30px;} 
    #tellB{
     width:60%;
    }
}



/*
Login and Register
*/
.loginPage{
  color: white;
  background-image: url("./imgs/dark-triangles.png");
}

.registerPage{
  color: white;
  background-image: url("./imgs/dark-triangles.png");
}

@media (min-width: 750px) and (max-height: 900px) { /*Laptop Size*/
  .loginPage{
  padding-top: 15%;
  padding-bottom: 25%; 
  }
  .registerPage{
  padding-top: 18%;
  padding-bottom: 18%; 
  }
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
  .loginPage{
  padding-top: 40%;
  padding-bottom: 55%; 
  }
  .registerPage{
  padding-top: 40%;
  padding-bottom: 50%; 
  }
}


@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/
  .loginPage{
  padding-top: 20%;
  padding-bottom: 25%; 
  }
  .registerPage{
  padding-top: 20%;
  padding-bottom: 20%; 
  }
}

@media (min-width: 501px) and (max-width: 749px) { /*Mobile -> Desktop Size*/
  .loginPage{
  padding-top: 35%;
  padding-bottom: 35%; 
  }
  .registerPage{
  padding-top: 25%;
  padding-bottom: 10%; 
  }
}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Desktop Size2*/
  .loginPage{
  padding-top: 42%;
  padding-bottom: 37%; 
  }
  .registerPage{
  padding-top: 35%;
  padding-bottom: 30%; 
  }
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
  .loginPage{
  padding-top: 35%;
  padding-bottom: 35%; 
  }
  .registerPage{
  padding-top: 25%;
  padding-bottom: 10%; 
  }
}

#form-signin {
  max-width: 500px;
  margin: 0 auto;
}
#form-signin .form-signin-heading{
  margin-bottom: 20px;
}

#form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 15px;
}

#form-signin input[id="inputIdLogin"] {
  margin-bottom: 5px;
}

#form-signin input[id="inputPasswordLogin"]{
  margin-bottom: 20px;
}

#loginButton{
  margin-bottom: 50px;
}


#form-signin input[id="inputNameRegister"] {
  margin-bottom: 5px;
}

#form-signin input[id="inputPasswordRegister"] {
  margin-bottom: 5px;
}

#form-signin input[id="confirmPasswordRegister"] {
  margin-bottom: 20px;
}


#registerButton{
  margin-bottom: 50px;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}





/*
Make Plan
*/
.initialPlanPage {
	color: white;
	background-image: url("imgs/4.jpg");
	background-size: cover;
	height: 100%; 
	padding-top: 15%;
	padding-bottom: 20%; 
}

select[id^=vanCapVal] {
margin-top: 1%;
}

#quiz1{
max-width: 500px;
margin: 0 auto;
}

#quiz1Button{
margin-right: 15%;
margin-top: 2%;
position: absolute; 
right: 20%;
}

	#quiz2{
	max-width: 500px;
	margin: 0 auto;
	color: white;
	}

	.list-group-item {
	margin-top: 5px;
	}

	#quiz2Button{
	margin-top: 2%;
	}

	#quiz2Button2{
	margin-top: 2%;
	position: relative; 
	left: 68%;
	}

	#quiz3{
	max-width: 500px;
	margin: 0 auto;
	}

	#quiz5{
	max-width: 500px;
	margin: 0 auto;
	}

	#quiz8{
	width: 80%;
	margin-top: 5%;
	margin-left: 5%;
	padding-top: 5px;
	color: black;

	padding-bottom: 2%;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 5%;
    text-align: center;

    margin-top: 12%;
    margin-bottom: 10%;
	}
	
	#iconSuccess{
	color:green;
	font-size: 10em;
	}

	@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
	#quiz8{
		margin-top: 20%;
	}
	}

	@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
	#quiz8{
		margin-top: 25%;
    	margin-bottom: 25%;
	}
	}


@media (min-width: 750px) and (max-height: 900px) { /*Laptop Size*/
	.initialPlanPage{
	padding-top: 15%;
	padding-bottom: 20%; 
	}
	
	#quiz1Button{
	position: absolute; 
	right: 17%;
	}	
	
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
  .initialPlanPage{
  padding-top: 40%;
  padding-bottom: 35%; 
  }

  	#quiz1Button{
	position: absolute; 
	right: 1%;
	}

	#quiz2Button2{
	position: absolute; 
	right: 1%;
	}
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
  .initialPlanPage{
  padding-top: 43%;
  padding-bottom: 40%; 
  }

    #quiz1Button{
	position: absolute; 
	right: 5%;
	}

	#quiz2Button2{
	position: absolute; 
	right: 18%;
	}
}

@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/
  .initialPlanPage{
  padding-top: 20%;
  padding-bottom: 20%; 
  }

}


@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
  .initialPlanPage{
  padding-top: 43%;
  padding-bottom: 40%; 
  }
  	#quiz2Button2{
	position: absolute; 
	right: 1%;
	}
}

/*
Plan Page
*/

.userPage {
	background-image: url("imgs/4.jpg");
	color: white;
}

#editPatientButton2{
  margin-top: 20px;
  position: relative;
  left: 70%;
}

@media (min-width: 750px) and (max-height: 900px) { /*Laptop Size*/
  .userPage{
  padding-top: 10%;
  padding-bottom: 15%;
  }
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
  .userPage{
  padding-top: 15%;
  padding-bottom: 15%;
  }
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
  .userPage{
  padding-top: 32%;
  padding-bottom: 35%;
  }
}

@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/
  .userPage{
  padding-top: 13%;
  padding-bottom: 17%;
  }
}

@media (min-width: 501px) and (max-width: 749px) { /*Mobile -> Laptop Size*/

}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
  .userPage{
  padding-top: 20%;
  padding-bottom: 25%;
  }
}

#listWorkers{
	color: black;
	padding-top: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
}

#listPatients{
	color: black;
	padding-top: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
}

#listVans{
  color: black;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  border-bottom: 10px solid #F5F5F5;
  border-left: 20px solid white;
  border-radius: 15px;
    background-color: #F5F5F5;
}

#sectionTab{
	color: black;
	padding-top: 1%;
	padding-left: 1%;
	padding-bottom: 1%;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
}


/* Style the buttons inside the tab */
.tab input {
	width: 200%;
    display: block;
    color: black;
    padding: 22px 16px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    border-radius: 15px;
    background-color: #F5F5F5;
}

/* Change background color of buttons on hover */
.tab input:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab input.active {
    background-color: #ccc;
}

#addWorkerButton{
	position: relative;
	left: 75%;
}

#addPatientButton{
	position: relative;
	left: 75%;
}

#addVanButton{
  position: relative;
  left: 75%;
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
#addWorkerButton{
	position: relative;
	left: -15%;
	
}
#addPatientButton{
	position: relative;
	left: -15%;
}

#addVanButton{
  position: relative;
  left: 75%;
}

}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
#addWorkerButton{
	position: relative;
	left: 20%;
	
}
#addPatientButton{
	position: relative;
	left: 20%;
}

#addVanButton{
  position: relative;
  left: 75%;
}
}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
#addWorkerButton{
	position: relative;
	left: -15%;
	
}
#addPatientButton{
	position: relative;
	left: -15%;
}

#addVanButton{
  position: relative;
  left: 75%;
}
}



.planInfo{
	color:black;
	border-radius: 15px;
	font-size: 56px;
	text-align: center;

}
@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
#panelPlanPage{
    position: absolute;
	left: 4%;
	border-radius: 15px;
	font-size: 15px;
	text-align: center;

}
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
#panelPlanPage{
    position: absolute;
	left: 4%;
	border-radius: 15px;
	font-size: 35px;
	text-align: center;

}
}

@media (min-width: 750px) and (max-height: 900px) { /*Laptop Size*/
#panelPlanPage{
    position: absolute;
	left: 5%;
	border-radius: 15px;
	font-size: 58px;
	text-align: center;

}
}

@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/

}

@media (min-width: 501px) and (max-width: 749px) { /*Mobile -> Laptop Size*/
#panelPlanPage{
    position: absolute;
	left: 4%;
	border-radius: 15px;
	font-size: 15px;
	text-align: center;

}
}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
#panelPlanPage{
    position: absolute;
	left: 4%;
	border-radius: 15px;
	font-size: 15px;
	text-align: center;

}
}

a {
  color: black;
}


#panelPlan{
border-radius: 15px;
}

.panel-headingPlan{
	background-color: #d9534f;
	border-radius: 15px;
}

#panelBodyPlan{
	border-radius: 15px;
	position: center;
}

.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: white;
	border-radius: 15px;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color:  #d9534f;
	border-radius: 15px;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
	color:  #d9534f;
	border-radius: 15px;
}



#editPlan{
  	width: 60%;
	color: black;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 20%;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
#editPlan{
 margin-top: 12%;
}
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
#editPlan{
 margin-top: 25%;
 margin-bottom: 10%;
}
}

@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/
#editPlan{
 margin-top: 10%;
 margin-bottom: 10%;
}
}

#inputNameEditPlan{
	margin-bottom: 5px;
}

#inputTransportEditPlan{
	margin-bottom: 5px;
}

#inputDaysEditPlan{
	margin-bottom: 5px;
}

#lunchInputEditPlan{
	margin-bottom: 20px;
}

#editPlanButton{
	width: 40%;
}

#editPlanButton2{
	width: 40%;
	margin-left: 5px;
}

#addWorker{
	width: 60%;
	color: black;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 20%;
    text-align: center;
    margin-top: 5%;
}

#addVans{
  width: 60%;
  color: black;
  border-bottom: 10px solid #F5F5F5;
  border-left: 20px solid white;
  border-radius: 15px;
  background-color: #F5F5F5;
  position: relative;
  left: 20%;
  text-align: center;
  margin-top: 12%;
}

@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/
#addWorker{
margin-bottom: 5%;
}
#addWoaddVansrker{
margin-bottom: 5%;
}
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
#addWorker{
margin-top: 20%;
}
#addVans{
margin-bottom: 20%;
}
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
	#addWorker{
	margin-top: 5%;
	margin-top: 5%;
	}

    #addVans{
  margin-top: 5%;
  margin-top: 5%;
  }

}



/*
Patient Page
*/

#mapsID{

}

#colMapPatient{
	left:23%;
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
	#colMapPatient{
		left:-20%;
	}
}


@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
	#colMapPatient{
	left:-20%;
	}
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
	#colMapPatient{
	left:18%;
	}
}

#imgID{
  max-width: 225px;
  max-height: 225px;
}

.patientInfo{
	width: 80%;
	color: black;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 10%;
}

#buttonPatientOpt{
	width: 150%;
}

#tasksPatient{
	padding-top: 5px;
	color: white;
	background-color: grey;
	border-radius: 25px;
	border: 15px solid grey;
}

#editPatient{
  	width: 60%;
	color: black;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 20%;
}

#form-signin {
  max-width: 500px;
  margin: 0 auto;
}
#form-signin .form-signin-heading{
  margin-bottom: 20px;
}

#form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 15px;

}

#form-signin input[id="inputNamePatient"] {
  position: relative;
  top: 20px;
  margin-bottom: 40px;
}

#form-signin input[id="inputImage"]{
  margin-bottom: 20px;
}

#form-signin input[id="inputContact"]{
  margin-bottom: 5px;
}

#form-signin input[id="inputEmail"]{
  margin-bottom: 5px;
}

#form-signin input[id="inputAdress"] {
  margin-bottom: 5px;
}

#inputCoordinates {
  margin-bottom: 5px;
}

#form-signin input[id="inputDescr"] {
max-width: 100%;
}

#inputDescrAdd{
	max-width: 100%;
}

#editPatientButton{
  margin-top: 20px;
}

#editPatientButton2{
  margin-top: 20px;
  position: relative;
  left: 70%;
}

#editPatientButton3{
  margin-top: 20px;
  position: relative;
  left: 56%;
}

#addNewWorkerButton{
	margin-top: 20px;
	width: 40%;
}

#addNewWorkerButton2{
	margin-top: 20px;
	width: 40%;
	margin-left: 5px;

}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
	#addNewWorkerButton{
	font-size: 8px;
	}
	#addNewWorkerButton2{
	font-size: 8px;
	}
}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
	#addNewWorkerButton{
	font-size: 8px;
	}
	#addNewWorkerButton2{
	font-size: 8px;
	}
}
#removePatient{
  	width: 60%;
	color: black;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 20%;
    text-align: center;
    margin-top: 10%;
 	margin-bottom: 10%;
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
#removePatient{
 margin-top: 12%;
}
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
#removePatient{
 margin-top: 30%;
 margin-bottom: 15%;
}
}

@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/
#removePatient{
 margin-top: 15%;
 margin-bottom: 10%;
}
}

#removeWorkerButton{
	width: 20%;
}

#removeWorkerButton2{
	width: 20%;
	margin-left: 5px;
	padding-right: 5px;
}

.addTaskClass{
	width: 60%;
	color: black;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 20%;
    text-align: center;
  	padding-top: 5%;
}

#addTask1, #addTask2, #addTask3, #addTask4, #addTask5, #addTask6, #addTask7{
	max-width: 100%;
	margin-bottom: 5px;
}

#addTask8{
left: 3%;
max-width: 94%;
}


/*
Worker Page
*/

.workerPage {
	background-image: url("imgs/4.jpg");
	background-size: cover;
	height: 100%; 
	color: white;

}


@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
  .workerPage{
  padding-top: 20%;
  padding-bottom: 20%;
  }
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
  .workerPage{
  padding-top: 35%;
  padding-bottom: 50%;
  }
}

@media (min-width: 750px) and (max-height: 900px) { /*Laptop Size*/
  .workerPage{
  padding-top: 5%;
  padding-bottom: 20%;
  }
}

@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/
  .workerPage{
  padding-top: 10%;
  padding-bottom: 15%;
  }
}

@media (min-width: 501px) and (max-width: 749px) { /*Mobile -> Laptop Size*/
  .workerPage{
  padding-top: 20%;
  padding-bottom: 20%;
  }
}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
  .workerPage{
  padding-top: 20%;
  padding-bottom: 20%;
  }
}

.workerInfo{
	width: 80%;
	color: black;
	border-left: 20px solid white;
	border-bottom: 10px solid #F5F5F5;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 10%;
}

#workerPageCol1{
	padding-top: 5%;
}

#workerImg{
	height: 100%;
	width: 100%;
}

#workerPageCol2{
	
}

#workerPageCol3{
	padding-top: 20%;
}

#buttonWorkerOpt{
	width: 100%;
}

.tasksInfo{
	padding-top: 5%;
}

#colW{
	left: 5%;
}

.tab{
	width: 50%;
}

#listHistoric{
	padding-top: 5px;
	color: black;
	padding-left: 5%;
	padding-bottom: 2%;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
}

#listTasks{
	width: 80%;
	padding-top: 5px;
	color: black;
	padding-left: 5%;
	padding-bottom: 2%;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 5%;
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
	#listTasks{
 		left: 5%;
	}
}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
	#listTasks{
 		left: 5%;
	}
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
	#listTasks{
 		left: 55%;
	}
}

@media (min-width: 750px) and (max-height: 900px) { /*Laptop Size*/
	#listTasks{
 		left: 55%;
	}
}

@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/
	#listTasks{
 		left: 55%;
	}
}

#addTaskButton{
	position: relative;
	left: 65%;
	margin-right: 25%;
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
	#addTaskButton{
		position: relative;
		left: 35%;
	}
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
	#addTaskButton{
		position: relative;
		left: 15%;
	}
}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
	#addTaskButton{
		position: relative;
		left: 15%;
	}
}

.google-maps {
    position: relative;
    padding-bottom: 60%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}


.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.editWorker{
	width: 60%;
	color: black;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 20%;
    text-align: center;
    margin-bottom: 5%;
}

#editWorkerButton{
	margin-top: 20px;
	width: 45%;
}

#editWorkerButton2{
	margin-top: 20px;
	width: 45%;
	margin-left: 5px;
}

/*
Generate Plan 
*/

h2.headerSelectCenter {
  text-align: center;
}

#inputCoordinates2{
max-width: 500px;
margin-left: 32%;
margin-bottom: 3%;
}

.generatePlanPage {
	color: white;
	background-image: url("imgs/4.jpg");
	background-size: cover;
	height: 100%; 
}

@media (min-width: 750px) and (max-height: 900px) { /*Laptop Size*/
  .generatePlanPage{
  padding-top: 7%;
  padding-bottom: 100px; 
  }
}

.generatePlan1-heading{
	text-align: center;
	font-size: 100px;
}

#generatePlan1{
	padding-bottom:50px;
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
.generatePlan1-heading{
	text-align: center;
	font-size: 60px;
}
}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
.generatePlan1-heading{
	text-align: center;
	font-size: 60px;
}
}

#mapPlan{
	padding-top:50px;
}

.contB{
	border-radius: 15px;
    border-top: 15px solid #F5F5F5;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
    background-color: #F5F5F5;
}

#check1 input[type="checkbox"] {
    display: none;
}

#check1 input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

#check1 input[type="checkbox"] + .btn-group > label span:first-child {
    display: inline-block;
}

#check1 input[type="checkbox"] + .btn-group > label span:last-child {
    display: none;	
}

#check1 input[type="checkbox"]:checked + .btn-group > label span:first-child {
	display: none;
}

#check1 input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: inline-block; 
}


#check2 input[type="checkbox"] {
    display: none;
}

#check2 input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

#check2 input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}

#check2 input[type="checkbox"] + .btn-group > label span:last-child {
	display: inline-block;
}

#check2 input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}

#check2 input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}


#check3 input[type="checkbox"] {
    display: none;
}

#check3 input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

#check3 input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}

#check3 input[type="checkbox"] + .btn-group > label span:last-child {
	display: inline-block;
}

#check3 input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}

#check3 input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}


.top-buffer { 
margin-top:70px; 
}

#maximumWorkInput{
	 width: 300px;
}

#timeTasksInput{
	 width: 400px;
}

#timeoutInput{
	margin-top:70px; 
	width: 180px;
}

#lunchTimeInput{
	margin-top:70px; 
	 width: 180px;
}

#checkedTWInput{
	 width: 240px;
}

#extensiveSearchInput{
	 width: 200px;
}


#divGenerateButton{
	padding-top: 7%;
	text-align: center; 
	font-size: 30px;
}
#generatePlanButton{
	width: 100%;
	font-size: 35px;
	border-radius: 15px;

}

#generateSoluButton{
  width: 30%;
  font-size: 35px;
  border-radius: 15px;
}

#clearSoluButton{
  width: 30%;
  font-size: 35px;
  border-radius: 15px;
  margin-left: 35%;
}


#colId1:hover{
  opacity: 0.5;
}

#colId2:hover{
  opacity: 0.5;
}

#colId3:hover{
  opacity: 0.5;
}

.img-responsive {
    width: 80%;
    height: 240px !important;
}


/*
Map Solution 
*/

.soluPage {
	color: white;
	background-image: url("imgs/2.jpg");
	background-size: cover;
	height: 100%; 
}

@media (min-width: 750px) and (max-height: 900px) { /*Laptop Size*/
  .soluPage{
  padding-top: 7%;
  padding-bottom: 25%; 
  }
}

.soluPage-heading{
	text-align: center;
	font-size: 100px;
}

#soluID{
	color: black;
	height: 700px;
	position: relative;
}

#routesTeamsList{
	width: 80%;
	color: black;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 7%;
}

#titleRoutes{
	position: relative;
    left: 40%;
}

#teamsRoutesData{
	width:30%;
	margin : auto;
}

.map{
	max-height:80%;
	max-width:80%;
	position: absolute;
	left:100px;
	right:100px;
	border-radius: 25px;
	border: 15px solid grey;
}



#colorstripRT1{
    width: 50%; height: 15px;
    border-style: solid;
    border-color: #FF0000;
    background-color: #FF0000;
}

#colorstripRT2{
    width: 50%; height: 15px;
    border-style: solid;
    border-color: #FFC125;
    background-color: #FFC125;
}

#colorstripRT3{
    width: 50%; height: 15px;
    border-style: solid;
    border-color: #113377;
    background-color: #113377;
}

.soluInfo{
  margin-top: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
	width: 40%;
	color: black;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
  background-color: #F5F5F5;
  position: relative;
  left: 30%;	
}


/*
User
*/
#plansUser{
	width: 40%;
	margin-top: 5%;
	margin-left: 5%;
	padding-top: 5px;
	color: black;
	padding-left: 5%;
	padding-bottom: 2%;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 25%;
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
#plansUser{
	width: 70%;
	margin-top: 5%;
	margin-left: 5%;
	padding-top: 5px;
	color: black;
	padding-left: 5%;
	padding-bottom: 2%;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 10%;
}
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
#plansUser{
	width: 60%;
	margin-top: 5%;
	margin-left: 5%;
	padding-top: 5px;
	color: black;
	padding-left: 5%;
	padding-bottom: 2%;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 15%;
}
}


@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
#plansUser{
	width: 70%;
	margin-top: 5%;
	margin-left: 5%;
	padding-top: 5px;
	color: black;
	padding-left: 5%;
	padding-bottom: 2%;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 10%;
}
}


@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
#sectionNameUser{
	background-color: #d9534f;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 73%;
	position: relative;
	left:13%;
	border-radius: 25px;
}
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
#sectionNameUser{
	background-color: #d9534f;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 53%;
	position: relative;
	left:23%;
	border-radius: 25px;
}
}

@media (min-width: 750px) and (max-height: 900px) { /*Laptop Size*/
#sectionNameUser{
	background-color: #d9534f;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 33%;
	position: relative;
	left:33%;
	border-radius: 25px;
}
}


@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/
#sectionNameUser{
	background-color: #d9534f;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 33%;
	position: relative;
	left:33%;
	border-radius: 25px;
}
}

@media (min-width: 501px) and (max-width: 749px) { /*Mobile -> Laptop Size*/
#sectionNameUser{
	background-color: #d9534f;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 53%;
	position: relative;
	left:23%;
	border-radius: 25px;
}

}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
#sectionNameUser{
	background-color: #d9534f;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 73%;
	position: relative;
	left:13%;
	border-radius: 25px;
}

}

.userName-heading{
	text-align: center;
	font-size: 40px;
}


@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
#addPlanButton{
	position: relative;
	left: 50%;
}
}

@media (min-width: 750px) and (max-height: 900px) { /*Laptop Size*/
#addPlanButton{
	position: relative;
	left: 50%;
}
}

@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/
#addPlanButton{
	position: relative;
	left: 60%;
}
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
#addPlanButton{
	position: relative;
	left: 5%;
}
}

@media (min-width: 501px) and (max-width: 749px) { /*Mobile -> Laptop Size*/
#addPlanButton{
	position: relative;
	left: 5%;
}
}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
#addPlanButton{
	position: relative;
	left: 15%;
}
}

/*
Footer
*/
footer {
  padding: 10px 0;
  border-radius: 10px 10px 0px 0px;  
  text-align: left; 
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow:hidden;}
  footer span.copyright {
    color: white;
    font-size: 80%;
    line-height: 15px;
    text-transform: none;
}


.mapsPage{
	color: white;
	background-image: url("imgs/4.jpg");
	background-size: cover;
	height: 100%; 
	padding-top: 5%;
	padding-bottom: 5%;
}

@media (max-width: 500px) and (max-height: 500px) { /*Mobile Size*/
	.mapsPage{
	padding-top: 10%;
	padding-bottom: 10%;
	}
}

@media (max-width: 850px) and (min-height: 900px) { /*Tablet Size*/
	.mapsPage{
	padding-top: 10%;
	padding-bottom: 20%;
	}
}

@media (min-width: 900px) and (min-height: 900px) { /*Desktop Size*/
	.mapsPage{
	padding-top: 10%;
	padding-bottom: 5%;
	}
}

@media (min-width: 501px) and (max-width: 749px) { /*Mobile -> Laptop Size*/
	.mapsPage{
	padding-top: 10%;
	padding-bottom: 10%;
	}
}

@media (min-height: 501px) and (max-height: 899px) and (max-width: 749px) { /*Mobile -> Laptop Size2*/
	.mapsPage{
	padding-top: 10%;
	padding-bottom: 20%;
	}
}
  

.taskPage{
	background-image: url("imgs/4.jpg");
	background-size: cover;
	height: 100%; 
	color: white;
	padding-top: 5%;
  	padding-bottom: 30%;
}


.taskInfo{
  	width: 60%;
	color: black;
	border-bottom: 10px solid #F5F5F5;
	border-left: 20px solid white;
	border-radius: 15px;
    background-color: #F5F5F5;
    position: relative;
    left: 20%;
}

#taskPageCol2{
	padding-top: 20%;
}

#inputTask1{
  position: relative;
  top: 20px;
  margin-bottom: 40px;
  max-width: 70%;
}

#inputTask2{
  margin-bottom: 20px;
  max-width: 70%;
}

#inputTask3{
  margin-bottom: 5px;
    max-width: 70%;
}

#inputTask4{
  margin-bottom: 5px;
    max-width: 70%;
}

#inputTask5{
  margin-bottom: 5px;
    max-width: 70%;
}

#inputTask6 {
  margin-bottom: 20px;
    max-width: 70%;
}

#inputTask7 {
	left: 5%;
    max-width: 90%;
}